*,
h1,
h2,
h3,
html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 100%;
  font-family: "Times", "Georgia", serif;
  display: grid;
  height: 100vh;
  grid-gap: 0;
  grid-template-areas:
    "header crtrees"
    "main   crtrees"
    "nav    nav";
  grid-template-columns: 1fr 0;
  grid-template-rows: 0 auto max-content;
  color: rgba(0, 0, 0, 0.7);
}

#creator {
  position: relative;
  left: 1rem;
  bottom: 1.5rem;
  font-family: sans-serif;
  font-size: small;
}

#creator a {
  color: black;
}

@media only screen and (min-width: 0px) {
  body {
    grid-template-areas:
      "nav header plotBar"
      "nav main plotBar"
      "nav control plotBar";
    grid-template-columns: 200px 1fr auto;
    grid-template-rows: 0 1fr;
  }
}

main {
  grid-area: main;
  overflow: hidden;
}

nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  font-size: 40px;
  width: 200px;
  background-color: #0c1e35;
  color: #7d84ab;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  overflow-y: auto; 
  max-height: 100%;
}
h1 {
  font-weight: normal;
}

header {
  grid-area: header;
  text-align: left;
  padding-left: 2vw;
}
@media only screen and (min-width: 0px) {
  header {
    font-size: 3vw;
  }
  h1 {
    font-size: 1.5em;
  }
}

header > div {
  line-height: 1.5em;
}

@media only screen and (min-width: 0px) {
  nav {
    flex-direction: column;
    width: 200px;
  }
}
.buttonContainer{
  height:50px;
  transition: all 0.3s ease-in-out;
}
.buttonContainer.show > .button {
  color:white;
}
.dropdown-item.active{
  color:white;
  background-color: #7d84ab;
}
nav div.button {
  font-size: 20\px;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 20px;
  margin-left: 40px;
  height: 50px;
  width: 100%;
  line-height: 0;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
nav div.button:hover{
  color:white;
}
.dropdown-item {
  display: flex;
  font-size: 17px;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  height: 50px;
  width: 100%;
  line-height: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}
.dropdown-item:hover {
  color:white;
}
.buttonContainer.show > .dropdown-item{
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
}
.buttonContainer.show > #selectorbar{
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
}

#colorPickerList{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 17px;
  width: 200px;
  list-style-type: none;;
  opacity: 0;
  pointer-events: none;
}
#colorPickerList li{
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
#colorPickerList li label{
  display: inline-block;
  width: 60px;
  text-align: left;
  margin-right:0px;
}
.buttonContainer.show > #colorPickerList{
  opacity: 1;
  height: auto;
  pointer-events: auto;
  cursor: pointer;
}
.show {
  height: auto;
}
i.material-icons {
  border-radius: 50%;
  font-size: 100%;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  z-index: 20;
  text-align: center;
  line-height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: visible;
}


div.button:hover i.material-icons,
div.button:hover > div {
  background-color: #cecef6;
  visibility: visible;
}
#plotBar{
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  background-color: #eee;
  grid-area: plotBar;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width:400px;
  height: 100vh;
  overflow-y: auto; 
  max-height: 100%;
}
#plotBar::-webkit-scrollbar{
  display: none;
}
nav::-webkit-scrollbar{
  display: none;
}
.plotContainer{
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #f0f0f0;
  transition: width 0.3s, height 0.3s, background-color 0.3s;
  transform-origin: top right;
}
.plotButton {
  height: 50px;
  width:100%;
  display: flex;
  border-bottom: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: width 0.3s, height 0.3s, background-color 0.3s;
  transform-origin: top right;
  cursor:pointer
}
.plotButton select{
  display: flex;
  margin-left: 10px;

}
#colorPickerList{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.plotContainer.showPlot{
  width:100%;
  height:300px;
}
.plotContainer svg{
  width:90%;
  height:90%;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
.plotContainer.showPlot svg{
  width:95%;
  height:100%;
  opacity: 1;
}
.closeButton{
  width:20px;
  height: 20px;
  margin-left: 120px
}
.closeButton::after{
  display: block;
  content: "x";
  position: relative;
  font-size: 23px;
  left: 0px;
  top: -6px;
}
#control {
  grid-area: control;
  display: flex;
  justify-content: center;
  height: 75px;
  padding-bottom: 10px;
}
#selectorbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 17px;
  width: 200px;
  list-style-type: none;;
  opacity: 0;
  pointer-events: none;
}
#selectorbar li{
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
#selectorbar li label{
  display: inline-block;
  width: 60px;
  text-align: left;
  margin-right:0px;
}
.selectorList{
  display: flex;
}

nav input{
  text-align: center;
  width: 100px;
  margin-right: 10px;
  margin-top:-5px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  border: none;
  background-color: transparent;
  color: white;
  text-align: center;
  width: 60px;
}
#colorPickerList ul input{
  width:30px;
}
#controlbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 300px;
  list-style-type: none;
  height: 100%;
}
.controlbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  font-size: 30px;
  line-height: 40px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.material-symbols-outlined {
  font-size: 50px;
}
#selectorbar .material-symbols-outlined {
  font-size: 25px;
}
#colorPickerList .material-symbols-outlined {
  font-size: 25px;
}
.center-screen {
  height: 99%;
  overflow: hidden;
  width: 100%;
}

.loading-animation {
  display: none;
}

main .loading-animation {
  left: 45%;
  margin-left: -56px;
  margin-top: -56px;
  position: absolute;
  top: 50%;
}

.loading .loading-animation {
  display: block;
}

rect {
  stroke: none;
}

rect.highlight {
  stroke: black;
  stroke-width: 2px;
}
.vertical-line{
  cursor: grab;
}
rect.nonhighlight {
  fill:gray;
}
rect.blendout{
  filter: blur(15px);
  transition: filter 0.2s;
}
rect.fixed{
  rx:0;
  ry:0;
}
rect.nonhighlight.fixed{
  filter: brightness(65%) grayscale(100%);
}
line {
  stroke: #000;
  stroke-width: 2px;
}
line.blendout{
  filter:blur(15px);
  transition: filter 0.2s;
}
line.nonhighlight {
  stroke-opacity: 0.25;
}
.context-menu {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  z-index: 9999;
}

.context-menu div {
  padding: 8px 12px;
  cursor: pointer;
  text-align: center;
}

.context-menu div:hover {
  background-color: #f4f4f4;
}